<ion-content class="home" [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="home__item"  *ngFor="let data of items; let i = index">
          <ion-row class="home__meta">
            <ion-col size="12" class="home__title">
              {{ data.title }}
            </ion-col>
            <ion-col class="home__author">
              {{ data.user_data.username }}
            </ion-col>
            <ion-col class="home__stats">
              {{ data.user_data.level }}
              {{ data.user_data.class }}
              {{ data.user_data.title }}
              {{items.length}}
            </ion-col>
          </ion-row>
          <ion-row class="home__meme">
            <img class="home__img" src="{{ data.image_data.url }}" alt="">
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="test">1212112</div>
</ion-content>